<div class="tags">
  <i class="fa-solid fa-tag" aria-hidden="true"></i>
  {{- range $index, $el := . -}}
    {{- if gt $index 0 }}
      <span class="separator">•</span>
    {{- end }}
    {{- $tag := site.GetPage (printf "/tags/%s" $el | urlize) }}
    {{- if $tag }}
      <span class="tag">
        <a href="{{ $tag.RelPermalink }}">{{ $tag.LinkTitle }}</a>
      </span>
    {{- else }}
      <span class="tag">{{ $el }}</span>  <!-- fallback text if lookup fails -->
    {{- end }}
  {{- end -}}
</div>
